---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins/600.css";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    playing?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      h1, h2, h3 {
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
      }
      h1 {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      {
        heroImage && (
          <div align="center">
            <img width={360} height={360} src={heroImage} alt="" />
          </div>
        )
      }
      <article>
        <h1>{title}</h1>
        {updatedDate && <time>{updatedDate}</time>}
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
